<ons-page modifier="menu-page">
    <ons-toolbar modifier="transparent"></ons-toolbar>
    <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('location.html', {closeMenu: true})">
            <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
            HOME
        </ons-list-item>
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('dishes.html', {closeMenu: true})">
            <ons-icon icon="ion-android-user-menu" fixed-width="true"></ons-icon>
            MENU
        </ons-list-item>
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('location.html', {closeMenu: true})">
            <ons-icon icon="ion-map" fixed-width="true"></ons-icon>
            MAP
        </ons-list-item>
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('food-menu.html', {closeMenu: true})">
            <ons-icon icon="ion-calendar" fixed-width="true"></ons-icon>
            HISTORY
        </ons-list-item>
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('booking.html', {closeMenu: true})">
            <ons-icon icon="ion-help" fixed-width="true"></ons-icon>
            ABOUT
        </ons-list-item>
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('slideshow.html', {closeMenu: true})">
            <ons-icon icon="ion-android-chat" fixed-width="true"></ons-icon>
            FEEDBACK
        </ons-list-item>
    </ons-list>
</ons-page>