<ion-view view-title="About">
  <ion-content>
    <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-earth"></i>
        www.whybuy.co.il
    </a>
    <a href="tel:0778066258" class="item item-icon-left">
      <i class="icon ion-ios-telephone"></i>
      For Support Call: 0778066258
    </a>

    <a href="#" class="item item-icon-left"s>
      <i class="icon ion-ios-information-outline"></i>
        Version: 0.984
    </a>

  </div>
  </ion-content>
</ion-view>
