<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" style="text-align:center">Cancelation Policy</h1>
    <a  class="button button-dark button-small" ng-click="modal.hide()">Close</a>
  </ion-header-bar>
  <ion-content>
    <div class="padding">
        <p>
          <ul>
            <li>
              <b>Without cancellation policy</b> - the tenant is not charged any cancellation fees for the

              transaction at any stage, until the end of the rental date.
            </li>
            <br>
            <li>
              <b>Flexible Cancellation Policy</b> - tenant who canceled the transaction from the beginning of
              the transaction approval until 48 hours prior to rental - will be charged a cancellation fee of $
              0.3. Tenant who canceled the deal 48 hours before the rental will be charged a cancellation
              fee 0.3 $, 10% of the transaction value. Tenant who canceled the deal during the rental period
              will be charged a cancellation fee of $ 0.3, a 10% transaction fee for a number of days of
              4
               which the product was in renter's possession and two more days but, not more than the total
              rental days which were agreed upon with the lender.
            </li>
            <br>
            <li>
              <b>Strict Cancellation Policy </b>- renter will be fully charged with no possibility of refund, once
              the rental transaction is confirmed by the system.
            </li>
            <br>
            <li>
              <b>
                In any case of cancellation, regardless of the cancellation policy agreed upon between
                renter and lender, the renter will be refunded after deduction of clearing fees and any
                additional fees due to the Company with respect to the transaction.
              </b>
            </li>
          </ul>
        </p>
    </div>
  </ion-content>
</ion-modal-view>
